p{
    color: red;
    font-size: 20px;
}
.jk{
    color: green;
}
#jk1{
     background-color: yellow;
}
div{
    height:200px;
    width: 200px;
    background-color: lightblue;
    text-align:center;
    align-content: center;
    padding: 5px;
    margin:10px 200px;
    border:1px solid red;
}
.tv{
    border: 4px solid black;
    background-color: lightgrey;
    font-size: 30px;
    padding: 5px;
    width: 1100px;
    height: 200px;
    text-align: center;
    align-content: center;
    margin: 20px 150px;
    color: black;
}
.yv{
    border:4px solid black;
    background-color: lightgrey;
    font-size:30px;
    padding: 10px;
    width:1100px;
    height:450px;
    text-align:left;
    align-content: start;
    margin: 20px 150px;
}
.tv1{
    border: 28px solid blue;
    background-color:yellow;
    font-size: 25px;
    padding: 30px;
    width: 800px;
    height: 150px;
    text-align: center;
    margin: 25px 70px;
   align-content: center;
}